{% extends 'AcmeHandmadeBundle::base.html.twig' %}

{% block body -%}
    <div class="ui page grid overview segment">
        <div class="row">
            <div class="column ui segment">
                <h1 class="ui header">Заказ успешно оформлен :)</h1>

                Спасибо за заказ!<br>
                Наш менеджер свяжется с вами.
            </div>
        </div>
    </div>
{% endblock %}