{% extends 'AcmeHandmadeBundle::base.html.twig' %}

{% block body -%}
    <div class="ui page grid overview segment">
        <div class="row">
            <div class="column ui segment">
                <h1 class="ui header">Ошибка оформления заказа :(</h1>

                Приносим свои извинения!<br>
                Произошла ошибка при оформлении заказа. Попробуйте повторить заказ позже.
            </div>
        </div>
    </div>
{% endblock %}