{% trans_default_domain 'FOSUserBundle' %}

<div class="ui page grid segment">
    <form ction="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit ui">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
</div>