{% extends "AcmeHandmadeBundle::base.html.twig" %}

{% block body %}
    <div class="ui inverted page grid segment">
        <div class="column">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
