<div class="ui inverted teal page grid segment">
    <div class="ten wide column">
        <div class="ui three column stackable grid">
            <div class="column">
                <div class="ui header">Категории</div>
                <div class="ui inverted link list">
                    {% for category in categories %}
                        <a class="item" href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="ui header">FAQ</div>
                <div class="ui inverted link list">
                    <a class="item">Как нас найти?</a>
                    <a class="item">Как сделать заказ?</a>
                    <a class="item">Способы доставки?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="six wide right floated aligned column">
        <h3 class="ui header">Контакты</h3>
        <addr>
            Украина, г.Черкассы <br>
            ул. Шевченка 425 <br>
        </addr>
        <p>(472) 11-22-33</p>
        <p>(093) 11-22-333</p>

        <i class="facebook sign icon"></i>
        <i class="skype icon"></i>
        <i class="twitter sign icon"></i>
        <i class="vk icon"></i>
    </div>
</div>